.App{
    background-color: whitesmoke;
}
.main{
    background-color: whitesmoke;
}
 #svgimg{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Hero Section */
.hero-section {
    min-height: 400px;
}

/* Body Section */
.body-section {
    min-height: 300px;
}

/* Footer Section */
.footer-section {
    min-height: 50px;
}
.navbar{
    display: flex;
    list-style: none;
    padding: 2em;
    box-shadow: 2px 2px 10px lightgray;
}
.nav-item{
    margin: 0 1em;
    font-size: 1rem;
   color: darkblue;
}