.custom-table {
    font-size: 14px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .custom-table th,
  .custom-table td {
    padding: 10px;
    text-align: center;
  }
  
  .custom-table th {
    background-color: #f6c3d6;
    color: black;
  }
  
  .custom-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .custom-table tbody tr:hover {
    background-color: #e9ecef;
  }
  