

.features{ 
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #333;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid #333;
   background-color: lightgrey;
   }
    
    
   
   
   
   /* / Body background color / */
   body {
       background-color: #f5f5f5;
     }
     
     /* / Header section styles / */
     .header-section {
       background-color: #4a4a4a;
     }
     
     .header-section h2 {
       font-size: 3rem;
       font-weight: bold;
       margin-bottom: 1rem;
     }
     
     .header-section p {
       font-size: 1.5rem;
     }
     
     /* / Body section styles / */
     .body-section {
       background-color: #fff;
       box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
       padding: 5rem;
       
       margin-top: 1rem;
       margin-bottom: 2rem;
   }
   
     
     
     .body-section h3 {
       font-size: 2rem;
       font-weight: bold;
       margin-bottom: 2rem;
     }
     
     .body-section h4 {
       font-size: 1.5rem;
       font-weight: bold;
       margin-bottom: 1rem;
     }
     
     .body-section p {
       font-size: 1.2rem;
     }
     
     /* / Footer section styles / */
     .footer-section {
       background-color: #4a4a4a;
     }
     
     .footer-section p {
       font-size: 1rem;
     }
     
    /* / Card CSS / */
     .leave-card {
       background-color: #fff;
       border-radius: 10px;
       box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
       transition: all 0.3s ease-in-out;
       overflow: hidden;
     }
     
     .leave-card:hover {
       transform: translateY(-5px);
     }
     
     .leave-icon {
       display: flex;
       justify-content: center;
       align-items: center;
       width: 70px;
       height: 70px;
       margin: 0 auto 20px;
       background-color: #007bff;
       border-radius: 50%;
       transition: all 0.3s ease-in-out;
     }
     
     .leave-icon svg {
       width: 40px;
       height: 40px;
       color: #fff;
       transition: all 0.3s ease-in-out;
     }
     
     .leave-card:hover .leave-icon {
       transform: scale(1.1);
       background-color: #0056b3;
     }
     
     .leave-card:hover .leave-icon svg {
       transform: rotate(180deg);
     }
     
     .leave-title {
       font-size: 1.2rem;
       font-weight: 600;
       margin-bottom: 10px;
       text-align: center;
       color: #333;
     }
     
     .leave-text {
       font-size: 1rem;
       color: #666;
       text-align: center;
     }
     