.container {
  background-color: #f2f2f2;
  height: 100vh;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#svgimg {
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.text-danger {
  color: red;
  margin-top: 5px;
}

.nav-link {
  color: #dc3545;
  margin-top: 10px;
  text-decoration: none;
}

.fp {

  order: 1;
  color: blue;
}

.cp {

  order: 2;
  color: blue;
}

.ru {
  margin-top: 30px;
  order: 3;
  color: blue;
}

