.form-label {
    font-weight: bold;
    font-style: normal;
    color: #72A0C1;
}

.form-select {
    width: 100%;
}

.btn-outline-dark {
    background-color: white;
    color: black;
    border-color: black;
}

.btn-outline-dark:hover {
    background-color: black;
    color: white;
}












.PaySlip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    margin-top: 20px;
}

.form-select{
 width: 100%;
 height: 40px;
   margin-top: 20px;
}
.form-control {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.form-label {
    font-size: 18px;
    font-weight: bold;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #55BF27;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.col-md-6 {
    flex: 0 0 48%;
}

.col-md-10 {
    flex: 0 0 100%;
}

.fw-bolder {
    font-weight: bold;
    font-size: 18px;
}

.small {
    font-size: 14px;
}

.ms-3 {
    margin-left: 20px;
}

@media (max-width: 768px) {
    .col-md-6 {
        flex: 0 0 100%;
    }
}

/*from styling*/
form {
    max-width: 500px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 12px; 
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

textarea {
    display: block;
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

/*Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    padding: 10px;
    border: 1px solid #ccc;
}

th {
    background-color: #f2f2f2;
}

/* / Button styling / */
button {
     display: inline-block;
    padding: 7px 28px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
}

button:hover {
    /* background-color: #0062cc; */
}

/*Input field styling */
input[type="text"],
input[type="email"],
input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}