
 .App{
   width: 100vw;
   height :100vh;
    
}
body{
    margin:0;
    padding: 0;
}
button:hover{
    cursor: pointer;
}
.Navbar{
    background-color:#021e39;
    width: 100%;
    height: 80px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}
.Navbar .leftside{
    flex: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.Navbar .leftside .links{
    max-height: 80px;

}
#svgimg{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.Navbar .leftside .links a{
text-decoration: none;
color: white;
font-size: 25px;
margin-left: 15px;
}

.Navbar .leftside button{
    display: none;
    margin-left: 20px;
}
.Navbar .leftside #hidden{
    display:flex;
    margin-left: 20px;
}
.Navbar .rightside{
    flex: 50%;
}

.Navbar .rightside{
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 25px;
}
.rightside input{
    width: 220px;
    height: 30px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    padding-left: 15px;
    color: black;

}
.rightside .button{
    height: 32px;
    width: 70px;
    font-size: 16px;

}
@media only screen and (max-width:850px){
    .Navbar .leftside .links a{
        font-size: 20px;
    }
}
@media only screen and (max-width:750px){
    .Navbar .leftside .links a{
        font-size: 15px;
    }
}
@media only screen and (max-width:650px){
    .Navbar .leftside button{
        display: flex;
    }
    .Navbar .leftside .links{
        display: none;
    }
    .Navbar .leftside #hidden{
        background-color: #021e39;
        position: absolute;
        left: 0px;
        top: 80px;
        height: 230px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    
}

